.wp-block-sws2025-tabs-big{
    .tabContainer{
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        position: relative;
        padding-left: 40px;
        &:before{
            content: " ";
            background-color: lightgrey;
            height: 100%;
            border-radius: $borderRadius;
            position: absolute;
            left: calc((var(--wp--style--global--wide-size) - var(--wp--style--global--content-size))/2);
            right: calc((var(--wp--style--global--wide-size) - var(--wp--style--global--content-size))/2);
        }
    }
    .tabNavigation{
        display: grid;
        gap: 10px;
        padding: 20px;
        background-color: white;
        border-radius: $borderRadius;
        margin: 20px 0;
        position: relative;
        z-index: 1;
    }
    .button{
        @include button;
        &:not(.current){
            background-color: rgb(66, 66, 66);
        }
    }
    .tabPane{
        display: none;
        height: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        position: relative;
        &.open{
            display: block;
        }
    }
    
    .tabWrap{
        display: grid;
        grid-template-rows: minmax(0px,1fr);
        transition: all 600ms ease;
        overflow: hidden;
        opacity: 0;
        padding: 40px;
        padding-right: 60px;
        clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
        &.open{
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            grid-template-rows: minmax(0px,1fr);
            opacity: 1;
        }
    }
    figure{
        width: 400px;
        float: right;
        margin: 20px;
        margin-right: 0px;
        margin-left: 40px;

        grid-row: 1;
        aspect-ratio: 4/3;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        transition: all 300ms ease;
        img{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            overflow: hidden;
            z-index: 1;
        }
    }
    .tabPane.has_border {
        &:not(.opening-right):not(.opening-left):not(.opening-top):not(.opening-bottom) figure{
            @include mask-border();
        }
        &.opening-right figure{
            @include mask-border(right);
        }
        &.opening-bottom figure{
            @include mask-border(bottom);
        }
        &.opening-left figure{
            @include mask-border(left);
        }
        &.opening-top figure{
            @include mask-border(top);
        }
    }
    .is_rounded{
        figure,img,figure::after{
            border-radius: $borderRadius;
        }
    }
    .link{
        @include button;
    }
}