.bg-light{
    background-color: #e4e4e4;
    figure:before{
        background-color: #e4e4e4 !important;
    }
}
.bg-dark{
    background-color: #505050;
    background: #505050;
    background: -webkit-linear-gradient(26deg, #5f5f5f 0%, #505050 100%);
    background: -moz-linear-gradient(26deg, #5f5f5f 0%, #505050 100%);
    background: linear-gradient(26deg, #5f5f5f 0%, #505050 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5f5f5f", endColorstr="#505050", GradientType=0);
    figure:before{
        background-color: #505050 !important;
    }
}
.bg-color{
    background: #ff9720;
    background: -webkit-linear-gradient(26deg, #ff9720 0%, rgba(255, 105, 32, 1) 100%);
    background: -moz-linear-gradient(26deg, #ff9720 0%, rgba(255, 105, 32, 1) 100%);
    background: linear-gradient(26deg, #ff9720 0%, rgba(255, 105, 32, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9720", endColorstr="#FF6920", GradientType=0);
}

@mixin card {
    width: var(--wp--style--global--content-size);
    margin: auto;
    border-radius: 30px;
    padding: 40px
}

.card-light container{
    @include card;
    background-color: #e4e4e4;
    figure:before{
        background-color: #e4e4e4 !important;
    }
}
.card-dark container{
    @include card;
    background-color: #505050;
    background: #505050;
    background: -webkit-linear-gradient(26deg, #5f5f5f 0%, #505050 100%);
    background: -moz-linear-gradient(26deg, #5f5f5f 0%, #505050 100%);
    background: linear-gradient(26deg, #5f5f5f 0%, #505050 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5f5f5f", endColorstr="#505050", GradientType=0);
    color: white;
    figure:before{
        background-color: #505050 !important;
    }
}
.card-color container{
    @include card;
    background: #ff9720;
    background: -webkit-linear-gradient(26deg, #ff9720 0%, rgba(255, 105, 32, 1) 100%);
    background: -moz-linear-gradient(26deg, #ff9720 0%, rgba(255, 105, 32, 1) 100%);
    background: linear-gradient(26deg, #ff9720 0%, rgba(255, 105, 32, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9720", endColorstr="#FF6920", GradientType=0);
}