.wp-block-sws2025-tabs-small{
    padding: 40px 0;
    .tabNavigation{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding: 30px 0;
    }
    .button{
        @include button;
        &:not(.current){
            background-color: rgb(66, 66, 66);
        }
    }
    .textWrap{
        opacity: 0;
        transition: opacity 300ms ease;
        max-width: 700px;
        margin: auto;
    }

    .tabPane{
        display: none;
        height: 100%;
        grid-template-columns: 1fr;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 40px;
        &.open{
            display: grid;
            .textWrap{
                opacity: 1;
            }
        }
    }
    .tabPane:not(:has(figure)) {
        text-align: center;
      }
    figure{
        margin: unset;
        grid-row: 1;
        aspect-ratio: 4/3;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        transition: all 300ms ease;
        overflow: hidden;
        max-width: 700px;
        margin: auto;
        img{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            overflow: hidden;
            z-index: 1;
        }
    }
    .has_border{
        figure{
            img{
                height: calc(100% - 8px);
                width: calc(100% - 8px);
            }
            &:after{
                content: " ";
                position: absolute;
                background: #ffcd29;
                background: -webkit-linear-gradient(26deg, rgba(255, 205, 41, 1) 0%, rgba(255, 105, 32, 1) 100%);
                background: -moz-linear-gradient(26deg, rgba(255, 205, 41, 1) 0%, rgba(255, 105, 32, 1) 100%);
                background: linear-gradient(26deg, rgba(255, 205, 41, 1) 0%, rgba(255, 105, 32, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFCD29", endColorstr="#FF6920", GradientType=0);
                width: 100%;
                aspect-ratio: 1;
                top: 0;
            }
            &:before{
                content: " ";
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
                box-sizing: border-box;
            }
        }
    }
    .opening-right figure::before{
        border-right: solid $imageBorderWidth white;
        height: $openingSize;
    }
    .opening-bottom figure::before{
        border-bottom: solid $imageBorderWidth white;
        width: $openingSize;
    }
    .opening-left figure::before{
        border-left: solid $imageBorderWidth white;
        height: $openingSize;
    }
    .opening-top figure::before{
        border-top: solid $imageBorderWidth white;
        width: $openingSize;
    }
    .is_rounded{
        figure,img,figure::after{
            border-radius: 6%;
        }
    }
}