.wp-block-sws2025-text{
    padding: 40px 0px;
    .headingCircledTrue{
        @include mask-border(right,70);
        padding: 16px 0px 16px 20px;
        position: relative;
        text-align: left;
        &::after{
            inset: 0;
            aspect-ratio: 1;
            height: 100%;
        }
        *{
            margin: unset;
            padding: 6px;
        }
    }
    .textIndentTrue{
        padding-left: 22px;
    }
    hr{
        margin: unset;
        border-color: var(--wp--preset--color--accent-1);
        border-style: solid;
        max-width: 500px;
        display: inline-block;
        width: 100%;
    }
    .centered{
        text-align: center;
    }
    .link{
        @include button;
    }
}