.wp-block-sws2025-text{
    padding: 1px 0px;
    .headingWrap{
        margin-bottom: 26px;
    }
    .headingCircledTrue{
        position: relative;
        text-align: left;
        @include mask-border(right);
        padding: 25px 0px 25px 20px;
        
        &::after{
            inset: 0;
            aspect-ratio: 1;
            height: 100%;
        }
        h1,h2,h3,h4,h5,h6{
            margin: unset;
            padding: 6px;
        }
        
    }
    .headingCircledTrue + .textWrap{
        padding-left: 26px;
    }
    hr{
        margin: unset;
        border-color: var(--wp--preset--color--accent-1);
        border-style: solid;
        max-width: 500px;
        display: inline-block;
        width: 100%;
    }
    .centered{
        text-align: center;
    }
    .link{
        @include button;
    }
}