.wp-block-sws2025-text{
    padding: 40px 0px;
    .headingCircledTrue{
        padding: 12px 0px 12px 20px;
        position: relative;
        text-align: left;
        &:before{
            content: " ";
            aspect-ratio: 1;
            height: 100%;
            min-height: 75px;
            border: solid 2px #FF6920;
            border-radius: 12px;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
        }
        *{
            margin: unset;
            background-color: white;
            position: relative;
            padding: 6px;
        }
    }
    .textIndentTrue{
        padding-left: 100px;
    }
    hr{
        margin: unset;
        border-color: #ff6920;
        border-style: solid;
        max-width: 500px;
        display: inline-block;
        width: 100%;
    }
    .centered{
        text-align: center;
    }
    .link{
        @include button;
    }
}