.wp-block-sws2025-card-columns{
    container{
        display: grid;
        gap: 40px;
    }
    .columns-2{
        grid-template-columns: repeat(2,minmax(0px,1fr));
    }
    .columns-3{
        grid-template-columns: repeat(3,minmax(0px,1fr));
    }
    .columns-4{
        grid-template-columns: repeat(4,minmax(0px,1fr));
    }
    .kachel-card{
        padding: 25px;
        padding-bottom: 45px;
        position: relative;
        
        &.is_rounded{
            border-radius: 30px;
            img{
                border-radius: 22px;
            }
        }
        &.dark{
            background-color: var(--wp--preset--color--accent-2);
            color: var(--wp--preset--color--base);
        }
        &.light{
            background-color: rgb(233, 233, 233);
        }
    }
    a.link{
        @include button;
        transform: translate(-50%,50%);
        position: absolute;
        left: 50%;
        bottom: 0;
    }
}