.wp-block-sws2025-card-columns{
    container{
        display: grid;
        gap: 40px;
        @media screen and (max-width:$columnsBreakpoint2) {
            gap: 20px;
        }
    }
    .columns-2{
        grid-template-columns: repeat(2,minmax(0px,1fr));
        @media screen and (max-width:$columnsBreakpoint2) {
            grid-template-columns: repeat(1,minmax(0px,1fr));
        }
    }
    .columns-3{
        grid-template-columns: repeat(3,minmax(0px,1fr));
        @media screen and (max-width:$columnsBreakpoint3) {
            grid-template-columns: repeat(2,minmax(0px,1fr));
        }
        @media screen and (max-width:$columnsBreakpoint2) {
            grid-template-columns: repeat(1,minmax(0px,1fr));
        }
    }
    .columns-4{
        grid-template-columns: repeat(4,minmax(0px,1fr));
        @media screen and (max-width:$columnsBreakpoint4) {
            grid-template-columns: repeat(2,minmax(0px,1fr));
        }
        @media screen and (max-width:$columnsBreakpoint2) {
            grid-template-columns: repeat(1,minmax(0px,1fr));
        }
    }
    .kachel-card{
        padding: 25px;
        @media screen and (min-width:$columnsBreakpoint2) {
            padding-bottom: 45px;
        }
        position: relative;
        
        &.is_rounded{
            border-radius: $borderRadius;
            img{
                border-radius: $borderRadius;
            }
        }
        &.dark{
            background-color: var(--wp--preset--color--accent-2);
            color: var(--wp--preset--color--base);
        }
        &.light{
            @include bg-neuro();
        }
    }
    a.link{
       // @include button;
        transform: translate(-50%,50%);
        position: absolute;
        left: 50%;
        bottom: 0;
        display: inline-block;
        padding: 8px 16px;
        background-color: var(--wp--preset--color--accent-1);
        border-radius: $borderRadius * 0.5;
        color: var(--wp--preset--color--base);
        text-decoration: none;
        cursor: pointer;
        transition: transform 50ms ease, background-color 300ms ease;
        opacity: 1;
        &:active{
            transform: scale(0.95) translate(-50%,50%) !important;
            opacity: 0.8;
        }
        &:hover{
            // opacity: 0.85;
            filter: brightness(1.1);
        }    
    }
}