body,
html {
    height: auto;
}

:where(.wp-site-blocks)>*,
:root :where(.is-layout-flow)>* {
    margin-block-start: 0;
    margin-block-end: 0;
}


@media screen and (min-width:$navbarBreakpoint) {
    .admin-bar {
        header {
            top: var(--wp-admin--admin-bar--height);
        }

        .side-content {
            top: calc($headerHeight + var(--wp-admin--admin-bar--height));
        }

        .image-mapper-container {
            height: calc(100vh - var(--wp-admin--admin-bar--height));
        }

        .zoom-back-btn {
            top: calc($headerHeight + 20px + var(--wp-admin--admin-bar--height));
        }

        .wp-overlay-close {
            top: calc($headerHeight + 20px + var(--wp-admin--admin-bar--height));
        }

        .wp-overlay-content-wrap {
            padding: calc($headerHeight + 20px + var(--wp-admin--admin-bar--height)) 0px 160px 0px;
        }

    }
}

@media screen and (max-width:$navbarBreakpoint) {
    #wpadminbar {
        display: none;
    }
}



@mixin container {
    max-width: 100%;
    margin: auto;
    width: var(--wp--style--global--wide-size);
    padding: 0 calc((var(--wp--style--global--wide-size) - var(--wp--style--global--content-size)) / 2);
    @media screen and (max-width:$columnsBreakpoint4) {
        padding: 0 calc((var(--wp--style--global--wide-size) - var(--wp--style--global--content-size)) / 2 * 0.7);
    }
    @media screen and (max-width:$navbarBreakpoint) {
        padding: 0 calc((var(--wp--style--global--wide-size) - var(--wp--style--global--content-size)) / 2 * 0.5);
    }
    display: block;
    box-sizing: border-box;
    position: relative;

    &.innerblocks container {
        width: unset;
        padding: unset
    }
}

@mixin container_small {
    @include container;
    width: var(--wp--style--global--wide-size);
}

container {
    @include container;

    &.small {
        @include container_small;
    }
}




.subpage {
    padding-top: calc($headerHeight + 20px);
    min-height: calc(100vh - var(--wp-admin--admin-bar--height) + 1px);
    padding-bottom: 0px;
    padding-left: 120px;
    padding-right: 120px;

    @media screen and (max-width:$columnsBreakpoint4) {
        padding-left: 40px;
    }

    @media screen and (max-width:$navbarBreakpoint) {
        padding-left: 20px;
        padding-right: 20px;
    }
}



.backgroundWrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: grid;
    filter: blur(10px);

    figure.wp-block-image {
        grid-area: 1/1/1/1;

        img {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

.card {
    background-color: white;
    border-radius: $borderRadius;
    padding: unset;
    overflow: hidden;
}

container.card {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
}