.sidebar{
    position: fixed;
    top: 22%;
    right: 0;
    z-index: 5;
    a{
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        &::after{
            content: " ";
            background-color: var(--wp--preset--color--base);
            width: 0px;
            aspect-ratio: 10/8;
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cpath d='M30 15 Q15 15 15 30 L15 70 Q15 85 30 85 Q45 80 60 65 Q80 50 80 50 Q80 50 60 35 Q45 20 30 15Z' fill='black'/%3E%3C/svg%3E");            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            display: block;
            transition: all 150ms ease;
        }
        &:hover{
            &::after{
                margin: unset;
                width: 25px;
            }
        }
    }
}

@media screen and (max-width:$phoneBreakpoint) {
    .sidebar{
        top: unset;
        bottom: 10px;
        right: 0;
        :where(.wp-element-button, .wp-block-button__link){
            padding: 10px;
        }
    }
}