$sideWidth: 300px;
$headerHeight: 100px;
$headerHeightResponsive: 90px;
$openingSize: 50%;
$imageBorderWidth: 4px;

$navbarBreakpoint: 868px;
$columnsBreakpoint: 782px;
$phoneBreakpoint: 480px;