$sideWidth: 300px;
$headerHeight: 100px;
$headerHeightResponsive: 90px;
$openingSize: 50%;
$imageBorderWidth: 4px;
$borderRadius: 12px;

$navbarBreakpoint: 868px;
$phoneBreakpoint: 480px;

$columnsBreakpoint: 782px;
$columnsBreakpoint5: 1600px;
$columnsBreakpoint4: 1400px;
$columnsBreakpoint3: 1100px;
$columnsBreakpoint2: $columnsBreakpoint;