.wp-block-sws2025-image-columns{
    container{
        display: flex;
        gap: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .columns-2{
        .kachel-text-reveal{
            max-width: 530px;
            @media screen and (max-width:$columnsBreakpoint3) {
                max-width: 340px;
            }
        }
    }
    .columns-3{
        .kachel-text-reveal{
            max-width: 340px;
            @media screen and (max-width:$columnsBreakpoint4) {
                max-width: 250px;
            }
        }
    }
    .columns-4{
        .kachel-text-reveal{
            max-width: 245px;
            @media screen and (max-width:$columnsBreakpoint5) {
                max-width: 180px;
            }
        }
    }
    .kachel-text-reveal{
        aspect-ratio: 1;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all 300ms ease;
        
        &.onhover{
            .text-to-reveal{
                grid-template-rows: minmax(0px,1fr);
                opacity: 1;
            }
            &:hover{
                .text-to-reveal{
                    grid-template-rows: minmax(0px,1fr);
                    opacity: 1;
                }
                figure.has_effect{
                    img.effect{
                        opacity: 1;
                    }
                }
            }
        }
        &.has_border{
            @include mask-border();
            // &:not(.right,.left,.top,.bottom){
            //     @include mask-border();
            // }
            // &.right{
            //     @include mask-border(right);
            // }
            // &.bottom{
            //     @include mask-border(bottom);
            // }
            // &.left{
            //     @include mask-border(left);
            // }
            // &.top{
            //     @include mask-border(top);
            // }
        }
        &.has_silent_border{
            @include mask-border('',45,12,3.5,0px,'silent');
            // &:not(.right,.left,.top,.bottom){
            //     @include mask-border('',45,12,3.5,0px,'silent');
            // }
            // &.right{
            //     @include mask-border(right,45,12,3.5,0px,'silent');
            // }
            // &.bottom{
            //     @include mask-border(bottom,45,12,3.5,0px,'silent');
            // }
            // &.left{
            //     @include mask-border(left,45,12,3.5,0px,'silent');
            // }
            // &.top{
            //     @include mask-border(top,45,12,3.5,0px,'silent');
            // }
        }
        &.has_border,&.has_silent_border{
            .text-to-reveal{
                width: calc(100% - 5px);
                margin-bottom: 3px;
            }
        }
    }
    figure,img{
        height: 100%;
        width: 100%;
        aspect-ratio: 1;
        display: block;
        object-fit: cover;
        margin: unset;
        position: relative;
        z-index: 1;
    }
    figure{
        width: auto;
        border-radius: $borderRadius;
        overflow: hidden;
        display: grid;
        img{
            grid-area: 1 / 1 / 1 / 1;
            transition: all 100ms ease;
        }
        &.has_effect{
            img:not(.effect){
                opacity: 1;
            }
            img.effect{
                opacity: 0;
            }
        }
    }
    .text-to-reveal{
        position: absolute;
        bottom: 0;
        display: grid;
        background-color: var(--wp--preset--color--accent-1);
        transition: all 300ms ease;
        width: 100%;
        border-radius: $borderRadius;
        text-align: center;
        box-sizing: border-box;
        z-index: 2;
        overflow: clip;
        max-height: 100%;
        div{
            padding: 12px;
        }
        h1,h2,h3,h4,h5,h6,a{
            color: var(--wp--preset--color--contrast);
        }
    }
    .color .text-to-reveal{
        background-color: var(--wp--preset--color--accent-1);
    }
    .dark .text-to-reveal{
        @include bg-dark;
        color: var(--wp--preset--color--base);
        h1,h2,h3,h4,h5,h6,a{
            color: var(--wp--preset--color--base);
        }
    }
    .light .text-to-reveal{
        background-color: #e4e4e4;
        h1,h2,h3,h4,h5,h6,a{
            color: var(--wp--preset--color--contrast);
        }
    }
    p,h3{
        margin: unset;
        margin-bottom: 6px;
    }
    .mail-icon-container{
        position: absolute;
        bottom: 10px;
        right: 10px;
        a{
            color: var(--wp--preset--color--contrast);
            text-decoration: none;
            display: block;
            &:hover{
                transform: scale(1.1);
                transition: all 200ms ease;
            }
        }
    }
}