.wp-block-sws2025-image-columns{
    padding: 40px 0;
    container{
        display: grid;
        gap: 40px;
    }
    .columns-2{
        grid-template-columns: repeat(2,minmax(0px,1fr));
    }
    .columns-3{
        grid-template-columns: repeat(3,minmax(0px,1fr));
    }
    .columns-4{
        grid-template-columns: repeat(4,minmax(0px,1fr));
    }
    .kachel-text-reveal{
        aspect-ratio: 1;
        width: 100%;
        position: relative;
        border-radius: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all 300ms ease;
        overflow: hidden;
        &:hover{
            .text-to-reveal{
                grid-template-rows: minmax(0px,1fr);
            }
        }
        &:after{
            content: " ";
            position: absolute;
            background: #ffcd29;
            background: -webkit-linear-gradient(26deg, rgba(255, 205, 41, 1) 0%, rgba(255, 105, 32, 1) 100%);
            background: -moz-linear-gradient(26deg, rgba(255, 205, 41, 1) 0%, rgba(255, 105, 32, 1) 100%);
            background: linear-gradient(26deg, rgba(255, 205, 41, 1) 0%, rgba(255, 105, 32, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFCD29", endColorstr="#FF6920", GradientType=0);
            width: 100%;
            aspect-ratio: 1;
            top: 0;
            border-radius: 6%;
        }
        &:before{
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            box-sizing: border-box;
        }
        &.right:before{
            border-right: solid $imageBorderWidth white;
            height: $openingSize;
        }
        &.bottom:before{
            border-bottom: solid $imageBorderWidth white;
            width: $openingSize;
        }
        &.left:before{
            border-left: solid $imageBorderWidth white;
            height: $openingSize;
        }
        &.top:before{
            border-top: solid $imageBorderWidth white;
            width: $openingSize;
        }
    }
    figure,img{
        height: 100%;
        width: 100%;
        aspect-ratio: 1;
        display: block;
        object-fit: cover;
        margin: unset;
        position: relative;
        z-index: 1;
    }
    figure{
        height: calc(100% - 8px);
        width: auto;
        border-radius: 6%;
        overflow: hidden;
        display: grid;
        img{
            grid-area: 1 / 1 / 1 / 1;
            transition: all 500ms ease;
        }
        &.has_effect{
            img:not(.effect){
                opacity: 1;
            }
            img.effect{
                opacity: 0;
            }
            &:hover{
                img.effect{
                    opacity: 1;
                }
            }
        }
    }
    .text-to-reveal{
        position: absolute;
        bottom: 0;
        display: grid;
        grid-template-rows: minmax(0px,0fr);
        background-color: #FF6920;
        transition: all 300ms ease;
        width: 100%;
        border-radius: 30px;
        text-align: center;
        box-sizing: border-box;
        z-index: 1;
        overflow: clip;
        div{
            padding: 12px;
        }
        h1,h2,h3,h4,h5,h6{
            color: var(--wp--preset--color--contrast);
        }
    }
    p,h3{
        margin: unset;
        margin-bottom: 6px;
    }
}