@font-face {
    font-family: 'Zekton Rg';
    src: url('ZektonRg-Regular.woff2') format('woff2'),
        url('ZektonRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

