.wp-block-sws2025-statistics{
    padding: 20px 40px;
    .flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 86px;
    }
    .numberWrap{
        text-align: center;
    }
    .number{
        font-size: 4rem;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: -18px;
    }
}