.wp-block-sws2025-statistics{
    padding: 0px 40px;
    .flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 86px;
    }
    .numberWrap{
        text-align: center;
    }
    p{
        margin: unset;
    }
    .number{
        font-size: 4rem;
        font-weight: bold;
        margin: 0px;
    }
    &.numberSize-smaller .number{
        font-size: 2rem;
    }
    &.numberSize-small .number{
        font-size: 3rem;
    }
    &.numberSize-normal .number{
        font-size: 4rem;
    }
    &.numberSize-big .number{
        font-size: 5rem;
    }
    &.numberSize-bigger .number{
        font-size: 6rem;
    }
}