.wp-block-sws2025-image-text{
    .imageTextGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }
    .figure-left{
        figure{
            grid-column: 1;
        }
    }
    .figure-right{
        figure{
            grid-column: 2;
        }
    }
    figure{
        margin: unset;
        grid-row: 1;
        aspect-ratio: 4/3;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--wp--preset--color--base);
        text-decoration: none;
        transition: all 300ms ease;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            overflow: hidden;
            z-index: 1;
        }
    }
    container.has_border{
        &:not(.opening-right):not(.opening-left):not(.opening-top):not(.opening-bottom) figure{
            @include mask-border();
        }
        &.opening-right figure{
            @include mask-border(right);
        }
        &.opening-bottom figure{
            @include mask-border(bottom);
        }
        &.opening-left figure{
            @include mask-border(left);
        }
        &.opening-top figure{
            @include mask-border(top);
        }
    }
    .is_rounded{
        figure,img,figure::after{
            border-radius: $borderRadius;
        }
    }
    .link{
        @include button;
    }
    .align-items-center{
        align-items: center;
    }
    .align-items-top{
        align-items: start;
    }
    .align-items-bottom{
        align-items: end;
    }
}