.wp-block-sws2025-accordion{
    padding: 40px 0;
    .contentGrid{
        display: grid;
        gap: 40px;
    }
    figure{
        margin: unset;
        grid-row: 1;
        aspect-ratio: 1;
        width: 100%;
        position: relative;
        border-radius: 6%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        text-decoration: none;
        transition: all 300ms ease;
        overflow: hidden;
        img{
            aspect-ratio: 1;
            display: block;
            object-fit: cover;
            height: 100%;
            border-radius: 6%;
            overflow: hidden;
            z-index: 1;
        }
    }
    .figure-left{
        grid-template-columns: minmax(0px, 0.5fr) minmax(0px, 1fr);
        figure{
            grid-column: 1;
        }
    }
    .figure-right{
        grid-template-columns: minmax(0px, 1fr) minmax(0px, 0.5fr);
        figure{
            grid-column: 2;
        }
    }
    .has_border{
        figure{
            img{
                height: calc(100% - 8px);
            }
            &:after{
                content: " ";
                position: absolute;
                background: #ffcd29;
                background: -webkit-linear-gradient(26deg, rgba(255, 205, 41, 1) 0%, rgba(255, 105, 32, 1) 100%);
                background: -moz-linear-gradient(26deg, rgba(255, 205, 41, 1) 0%, rgba(255, 105, 32, 1) 100%);
                background: linear-gradient(26deg, rgba(255, 205, 41, 1) 0%, rgba(255, 105, 32, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFCD29", endColorstr="#FF6920", GradientType=0);
                width: 100%;
                aspect-ratio: 1;
                top: 0;
                border-radius: 6%;
            }
            &:before{
                content: " ";
                position: absolute;
                background-color: #fff;
                width: 60%;
                aspect-ratio: 1;
                border-radius: 14%;
                box-shadow: 0px 0px 10px 5px white;
                z-index: 1;
            }
        }
    }
    .opening-right figure::before{
        transform: translate(75%, 0%);
    }
    .opening-right figure::before{
        transform: translate(0%, 75%);
    }
    .opening-right figure::before{
        transform: translate(-75%, 0%);
    }
    .opening-right figure::before{
        transform: translate(0%, -75%);
    }
    .rowWrap{
        grid-row: 1;
    }
    .row{
        padding-left: 60px;
        display: grid;
        grid-template-rows: auto 0fr;
        transition: all 300ms ease;
        &.open{
            grid-template-rows: auto 1fr;
            .rowTrigger::after{
                transform: translate(0,-50%) rotate(90deg);
            }
        }
    }
    .textWrap{
        height: 100%;
        overflow: hidden;
    }
    .rowTrigger{
        padding: 6px 0px;
        text-decoration: none;
        cursor: pointer;
        position: relative;
        &::after{
            content: " ";
            height: 24px;
            aspect-ratio: 1;
            background-color: black;
            clip-path: polygon(30% 0, 80% 50%, 30% 100%, 10% 100%, 60% 50%, 10% 0);
            position: absolute;
            left: -50px;
            top: 50%;
            transform: translate(0,-50%);
            transition: all 300ms ease;
        }
        &::before{
            content: " ";
            height: 24px;
            width: 60px;
            position: absolute;
            left: -60px;
            top: 50%;
            transform: translate(0,-50%);
        }
    }

    p,h3{
        margin: unset;
    }
}