.blog-categories-block {

    &.bg-dark,
    &.bg-light,
    &.bg-color {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    &.bg-light,&.card-light {
        .post-card {
            background-color: white;
        }
    }

    .category-btn:not(.active) {
        opacity: 0.6;
    }

    .categories-filter {
        margin-bottom: 20px;
    }

    .posts-grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        gap: 2rem;
    }

    .post-card {
        opacity: 0;
        animation: fadeIn 0.3s ease-in forwards;
        padding: 25px;
        padding-bottom: 45px;
        position: relative;
        &.bg-light{
            *{
                color: var(--wp--preset--color--contrast);
            }
        }
        &.is_rounded {
            border-radius: $borderRadius;
        }
    }

    img{
        width: 100%;
        object-fit: cover;
    }

    .post-card.fade-in {
        animation: fadeIn 0.3s ease-in forwards;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
}